/***********************************************************************
 *                                                                     *
 * BUG FIXES FOR CANVAS INTERFACE                                      *
 *                                                                     *
 ***********************************************************************/
 
/* module text indents are borked */
.context_module_item.indent_1 .item_name {
	padding-left: 26px;
}

.context_module_item.indent_2 .item_name {
	padding-left: 52px;
}

.context_module_item.indent_3 .item_name {
	padding-left: 78px;
}

/* module text headers are indented at different levels than other items */
.context_module_item .module_item_icons .type_icon {
	padding-right: 0;
}

/* why can't we see all the enrollments and accounts at once? 200px scrolling window, my fanny! */
#courses_list .courses ul, .accounts ul {
	max-height: none !important;
}

/* highlight active courses for ease of visualization */
#courses_list .courses .active {
	background-color: #ffffcc;
}

/* 200px tall assignment descriptions? Ha! */
.description {
	height: auto !important;
}

/***********************************************************************
 *                                                                     *
 * GLOBAL MENU BAR                                                     *
 *                                                                     *
 ***********************************************************************/
 
/* replace the aqua green background with something that matches your color scheme.*/
#header {
  /*you can use .pngs with alpha transparency since you dont have to worry about IE6*/
  background: url("header-background.jpg?v1") repeat-x scroll left center transparent;
}

/*replace the "Canvas" logo with your school's*/
#header-logo, #header.no-user #header-logo {
  background: url("header-account-logo.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 0px;
  height: 70px;
  left: 0px;
  width: 250px;
  top: 0px;
}

#header-inner {
	min-height: 44px;
}

/* if you are going to replace the Canvas logo on the top left with your school's, 
you should move a (smaller) Cavas logo to the right side of the header'*/
#header-logo-secondary, #header.no-user #header-logo-secondary {
  /* note, you should set up you webserver to set the right headers to cache these 
     images you link to for a long time (eg: 1 year) and change the querystring 
     (the part that says "?v1") to force users to download a new version if you 
     change it, see: http://developer.yahoo.com/performance/rules.html#expires */
  background: url("header-canvas-logo.png?v1") no-repeat scroll 0 0 transparent;
  bottom: 11px;
  height: 26px;
  position: absolute;
  right: 26px;
  width: 135px;
  display: block;
}

/*make room for the menu since my sample logo is bigger than default canvas logo*/
#menu{ margin-left: 200px; }

/*make the menu lettering white and make it go back to grey when you hover over*/
.menu-item .menu-item-title, .menu-item .menu-item-no-drop { color: #FFFFFF; }
.menu-item.hover .menu-item-title { color: #555555; }

/*style the #identity (the thing that says "Ryan Shaw | inbox | profile | logout | (feedback)" in top right) */
#identity { background-color: #981E32; }
#identity .user_name a{ color: #DC8894 !important; }
#identity a { color: #fff; }
#identity #feedback_link{ border-color: #333; background-color: #333; }
#identity .inbox a .unread-messages-count { background-color: #333; }


/***********************************************************************
 *                                                                     *
 * WEB (NOT MOBILE) LOGIN                                              *
 *                                                                     *
 ***********************************************************************/
 
#modal-box.login-box { background: url("login-bg.png?v1") no-repeat !important }

/*this will move the extra canvas logo*/
body.modal #modal-box.login-box h1 { 
margin-top: 110px;
margin-left: 101px;
margin-bottom: 60px;
}
/*resize the login box to fit my image and change the color of 'stay signed in'*/
body.modal #modal-box.login-box { 
height: 405px;
width: 580px;
color: #ffffff;
}

/* adjust the width of "Please Log In" to fit image */
#unauthorized_holder {
	width: 620px;
}

/*change the color of the login button*/
body.modal #modal-box .button, body.modal #login-box .button {
background-color: #A1C42E !important;
background-image: none;
border-color: #668F78;
}
/*change the color of 'don't know your password'*/
body.modal #modal-box.login-box a { color: #ffffff !important; }

/* hide the self-registration link */
#register_link {
	visibility: hidden !important;
}


/***********************************************************************
 *                                                                     *
 * MOBILE (INCLUDING MOBILE SAFARI) LOGIN                              *
 *                                                                     *
 ***********************************************************************/
 

#fl_container {
	background-image: url("mobile-login.png?1");
}


/***********************************************************************
 *                                                                     *
 * CALENDAR COLOR-CODING                                               *
 *                                                                     *
 ***********************************************************************/
 
/* calendar color-coding -- assignments second so they can be styled differently*/
.group_course_497, .group_course_1277 {
	color: #ffffff !important;
	background-color: #003359 !important;
	border-color: #003359 !important;
	font-weight: bold !important;
}

.group_course_497.assignment, .group_course_1277.assignment {
	color: #003359 !important;
	border-color: #003359 !important;
	background-color: #ffffff !important;
	font-weight: normal !important;
}

/************************************************************************
  CSS generated by https://docs.google.com/a/stmarksschool.org/spreadsheet/ccc?key=0Ah1atGpuKjk9dEdhSktVRXhRNGtHZjMtRHdQYW9RSnc&usp=sharing
************************************************************************/

/* Red Block Events */
.group_course_1041, .group_course_1047, .group_course_1049, .group_course_1058, .group_course_1061, .group_course_1066, .group_course_1069, .group_course_1086, .group_course_1087, .group_course_1094, .group_course_1098, .group_course_1102, .group_course_1113, .group_course_1124, .group_course_1128, .group_course_1146, .group_course_1147, .group_course_1154, .group_course_1156, .group_course_1181, .group_course_1187, .group_course_1198, .group_course_1201, .group_course_1217, .group_course_1278, .group_course_1134, .group_course_1160, .group_course_1173, .group_course_1192, .group_course_1207, .group_course_1138, .group_course_1172, .group_course_1211, .group_course_1229, .group_course_1241, .group_course_1279, .group_course_1400, .group_course_1229, .group_course_1241, .group_course_1264 {
	color: #ffffff !important;
	border-color: #a30000 !important;
	background-color: #a30000 !important;
	font-weight: bold !important;
}

/* Red Block Assignments */
.group_course_1041.assignment, .group_course_1047.assignment, .group_course_1049.assignment, .group_course_1058.assignment, .group_course_1061.assignment, .group_course_1066.assignment, .group_course_1069.assignment, .group_course_1086.assignment, .group_course_1087.assignment, .group_course_1094.assignment, .group_course_1098.assignment, .group_course_1102.assignment, .group_course_1113.assignment, .group_course_1124.assignment, .group_course_1128.assignment, .group_course_1146.assignment, .group_course_1147.assignment, .group_course_1154.assignment, .group_course_1156.assignment, .group_course_1181.assignment, .group_course_1187.assignment, .group_course_1198.assignment, .group_course_1201.assignment, .group_course_1217.assignment, .group_course_1278.assignment, .group_course_1134.assignment, .group_course_1160.assignment, .group_course_1173.assignment, .group_course_1192.assignment, .group_course_1207.assignment, .group_course_1138.assignment, .group_course_1172.assignment, .group_course_1211.assignment, .group_course_1229.assignment, .group_course_1241.assignment, .group_course_1279.assignment, .group_course_1400.assignment, .group_course_1229.assignment, .group_course_1241.assignment, .group_course_1264.assignment {
	color: #a30000 !important;
	border-color: #a30000 !important;
	background-color: #ffe2e2 !important;
	font-weight: normal !important
}

/* Orange Block Events */
.group_course_1035, .group_course_1039, .group_course_1053, .group_course_1054, .group_course_1059, .group_course_1063, .group_course_1074, .group_course_1082, .group_course_1084, .group_course_1089, .group_course_1092, .group_course_1105, .group_course_1107, .group_course_1115, .group_course_1126, .group_course_1129, .group_course_1133, .group_course_1150, .group_course_1153, .group_course_1155, .group_course_1213, .group_course_1165, .group_course_1191, .group_course_1225, .group_course_1231, .group_course_1140, .group_course_1170, .group_course_1210, .group_course_1265 {
	color: #ffffff !important;
	border-color: #e47e00 !important;
	background-color: #e47e00 !important;
	font-weight: bold !important;
}

/* Orange Block Assignments */
.group_course_1035.assignment, .group_course_1039.assignment, .group_course_1053.assignment, .group_course_1054.assignment, .group_course_1059.assignment, .group_course_1063.assignment, .group_course_1074.assignment, .group_course_1082.assignment, .group_course_1084.assignment, .group_course_1089.assignment, .group_course_1092.assignment, .group_course_1105.assignment, .group_course_1107.assignment, .group_course_1115.assignment, .group_course_1126.assignment, .group_course_1129.assignment, .group_course_1133.assignment, .group_course_1150.assignment, .group_course_1153.assignment, .group_course_1155.assignment, .group_course_1213.assignment, .group_course_1165.assignment, .group_course_1191.assignment, .group_course_1225.assignment, .group_course_1231.assignment, .group_course_1140.assignment, .group_course_1170.assignment, .group_course_1210.assignment, .group_course_1265.assignment {
	color: #e47e00 !important;
	border-color: #e47e00 !important;
	background-color: #ffe4c3 !important;
	font-weight: normal !important
}

/* Yellow Block Events */
.group_course_1031, .group_course_1033, .group_course_1038, .group_course_1044, .group_course_1045, .group_course_1051, .group_course_1057, .group_course_1065, .group_course_1068, .group_course_1078, .group_course_1093, .group_course_1106, .group_course_1114, .group_course_1122, .group_course_1123, .group_course_1141, .group_course_1151, .group_course_1175, .group_course_1199, .group_course_1200, .group_course_1206, .group_course_1209, .group_course_1218, .group_course_1238, .group_course_1243, .group_course_1283, .group_course_1164, .group_course_1178, .group_course_1233, .group_course_1236, .group_course_1139, .group_course_1166, .group_course_1169, .group_course_1193, .group_course_1235, .group_course_1480, .group_course_1235, .group_course_1266 {
	color: #000000 !important;
	border-color: #fff700 !important;
	background-color: #fff700 !important;
	font-weight: bold !important;
}

/* Yellow Block Assignments */
.group_course_1031.assignment, .group_course_1033.assignment, .group_course_1038.assignment, .group_course_1044.assignment, .group_course_1045.assignment, .group_course_1051.assignment, .group_course_1057.assignment, .group_course_1065.assignment, .group_course_1068.assignment, .group_course_1078.assignment, .group_course_1093.assignment, .group_course_1106.assignment, .group_course_1114.assignment, .group_course_1122.assignment, .group_course_1123.assignment, .group_course_1141.assignment, .group_course_1151.assignment, .group_course_1175.assignment, .group_course_1199.assignment, .group_course_1200.assignment, .group_course_1206.assignment, .group_course_1209.assignment, .group_course_1218.assignment, .group_course_1238.assignment, .group_course_1243.assignment, .group_course_1283.assignment, .group_course_1164.assignment, .group_course_1178.assignment, .group_course_1233.assignment, .group_course_1236.assignment, .group_course_1139.assignment, .group_course_1166.assignment, .group_course_1169.assignment, .group_course_1193.assignment, .group_course_1235.assignment, .group_course_1480.assignment, .group_course_1235.assignment, .group_course_1266.assignment {
	color: #837f00 !important;
	border-color: #837f00 !important;
	background-color: #ffffe1 !important;
	font-weight: normal !important
}

/* Green Block Events */
.group_course_1034, .group_course_1040, .group_course_1042, .group_course_1050, .group_course_1060, .group_course_1071, .group_course_1085, .group_course_1096, .group_course_1099, .group_course_1100, .group_course_1108, .group_course_1116, .group_course_1119, .group_course_1125, .group_course_1131, .group_course_1132, .group_course_1149, .group_course_1158, .group_course_1188, .group_course_1205, .group_course_1219, .group_course_1176, .group_course_1196, .group_course_1208, .group_course_1137, .group_course_1167, .group_course_1177, .group_course_1228, .group_course_1228, .group_course_1267 {
	color: #ffffff !important;
	border-color: #00a417 !important;
	background-color: #00a417 !important;
	font-weight: bold !important;
}

/* Green Block Assignments */
.group_course_1034.assignment, .group_course_1040.assignment, .group_course_1042.assignment, .group_course_1050.assignment, .group_course_1060.assignment, .group_course_1071.assignment, .group_course_1085.assignment, .group_course_1096.assignment, .group_course_1099.assignment, .group_course_1100.assignment, .group_course_1108.assignment, .group_course_1116.assignment, .group_course_1119.assignment, .group_course_1125.assignment, .group_course_1131.assignment, .group_course_1132.assignment, .group_course_1149.assignment, .group_course_1158.assignment, .group_course_1188.assignment, .group_course_1205.assignment, .group_course_1219.assignment, .group_course_1176.assignment, .group_course_1196.assignment, .group_course_1208.assignment, .group_course_1137.assignment, .group_course_1167.assignment, .group_course_1177.assignment, .group_course_1228.assignment, .group_course_1228.assignment, .group_course_1267.assignment {
	color: #00a417 !important;
	border-color: #00a417 !important;
	background-color: #e1ffe5 !important;
	font-weight: normal !important
}

/* Blue Block Events */
.group_course_1032, .group_course_1043, .group_course_1056, .group_course_1062, .group_course_1064, .group_course_1072, .group_course_1073, .group_course_1079, .group_course_1080, .group_course_1088, .group_course_1095, .group_course_1101, .group_course_1103, .group_course_1110, .group_course_1136, .group_course_1144, .group_course_1152, .group_course_1189, .group_course_1203, .group_course_1215, .group_course_1216, .group_course_1230, .group_course_1234, .group_course_1242, .group_course_1244, .group_course_1245, .group_course_1162, .group_course_1232, .group_course_1174, .group_course_1197, .group_course_1227, .group_course_1268 {
	color: #ffffff !important;
	border-color: #3068f8 !important;
	background-color: #3068f8 !important;
	font-weight: bold !important;
}

/* Blue Block Assignments */
.group_course_1032.assignment, .group_course_1043.assignment, .group_course_1056.assignment, .group_course_1062.assignment, .group_course_1064.assignment, .group_course_1072.assignment, .group_course_1073.assignment, .group_course_1079.assignment, .group_course_1080.assignment, .group_course_1088.assignment, .group_course_1095.assignment, .group_course_1101.assignment, .group_course_1103.assignment, .group_course_1110.assignment, .group_course_1136.assignment, .group_course_1144.assignment, .group_course_1152.assignment, .group_course_1189.assignment, .group_course_1203.assignment, .group_course_1215.assignment, .group_course_1216.assignment, .group_course_1230.assignment, .group_course_1234.assignment, .group_course_1242.assignment, .group_course_1244.assignment, .group_course_1245.assignment, .group_course_1162.assignment, .group_course_1232.assignment, .group_course_1174.assignment, .group_course_1197.assignment, .group_course_1227.assignment, .group_course_1268.assignment {
	color: #3068f8 !important;
	border-color: #3068f8 !important;
	background-color: #e1e9ff !important;
	font-weight: normal !important
}

/* Plum Block Events */
.group_course_1046, .group_course_1067, .group_course_1075, .group_course_1090, .group_course_1104, .group_course_1111, .group_course_1117, .group_course_1120, .group_course_1127, .group_course_1145, .group_course_1148, .group_course_1159, .group_course_1184, .group_course_1221, .group_course_1404, .group_course_1171, .group_course_1182, .group_course_1224, .group_course_1246, .group_course_1280, .group_course_1163, .group_course_1247, .group_course_1281, .group_course_1239, .group_course_1247, .group_course_1269 {
	color: #ffffff !important;
	border-color: #7a00fb !important;
	background-color: #7a00fb !important;
	font-weight: bold !important;
}

/* Plum Block Assignments */
.group_course_1046.assignment, .group_course_1067.assignment, .group_course_1075.assignment, .group_course_1090.assignment, .group_course_1104.assignment, .group_course_1111.assignment, .group_course_1117.assignment, .group_course_1120.assignment, .group_course_1127.assignment, .group_course_1145.assignment, .group_course_1148.assignment, .group_course_1159.assignment, .group_course_1184.assignment, .group_course_1221.assignment, .group_course_1404.assignment, .group_course_1171.assignment, .group_course_1182.assignment, .group_course_1224.assignment, .group_course_1246.assignment, .group_course_1280.assignment, .group_course_1163.assignment, .group_course_1247.assignment, .group_course_1281.assignment, .group_course_1239.assignment, .group_course_1247.assignment, .group_course_1269.assignment {
	color: #7a00fb !important;
	border-color: #7a00fb !important;
	background-color: #f0e2ff !important;
	font-weight: normal !important
}

/* Brown Block Events */
.group_course_1036, .group_course_1037, .group_course_1048, .group_course_1052, .group_course_1055, .group_course_1070, .group_course_1076, .group_course_1077, .group_course_1081, .group_course_1083, .group_course_1091, .group_course_1097, .group_course_1109, .group_course_1112, .group_course_1118, .group_course_1121, .group_course_1130, .group_course_1135, .group_course_1142, .group_course_1143, .group_course_1157, .group_course_1186, .group_course_1202, .group_course_1204, .group_course_1212, .group_course_1222, .group_course_1240, .group_course_1161, .group_course_1179, .group_course_1183, .group_course_1257, .group_course_1168, .group_course_1180, .group_course_1194, .group_course_1214, .group_course_1223 {
	color: #ffffff !important;
	border-color: #623609 !important;
	background-color: #623609 !important;
	font-weight: bold !important;
}

/* Brown Block Assignments */
.group_course_1036.assignment, .group_course_1037.assignment, .group_course_1048.assignment, .group_course_1052.assignment, .group_course_1055.assignment, .group_course_1070.assignment, .group_course_1076.assignment, .group_course_1077.assignment, .group_course_1081.assignment, .group_course_1083.assignment, .group_course_1091.assignment, .group_course_1097.assignment, .group_course_1109.assignment, .group_course_1112.assignment, .group_course_1118.assignment, .group_course_1121.assignment, .group_course_1130.assignment, .group_course_1135.assignment, .group_course_1142.assignment, .group_course_1143.assignment, .group_course_1157.assignment, .group_course_1186.assignment, .group_course_1202.assignment, .group_course_1204.assignment, .group_course_1212.assignment, .group_course_1222.assignment, .group_course_1240.assignment, .group_course_1161.assignment, .group_course_1179.assignment, .group_course_1183.assignment, .group_course_1257.assignment, .group_course_1168.assignment, .group_course_1180.assignment, .group_course_1194.assignment, .group_course_1214.assignment, .group_course_1223.assignment {
	color: #623609 !important;
	border-color: #623609 !important;
	background-color: #dcd8d5 !important;
	font-weight: normal !important
}

/************************************************************************
  End generated CSS
************************************************************************/