body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

label, input[type=file] {
	display: block;
	margin-top: 10px;
}

label .comment {
	font-size: 8pt;
	display: block;
}

input {
	display: block;
}

input[type=file] {
	width: 100%;
	font-size: 8pt;
	font-style: italic;
}

input[type=text] {
	width: 100%;
}

input[type=radio], input[type=checkbox] {
	display: inline;
}

pre, code {
	font-family: Inconsolata, 'Courier New', Monaco, Courier, monospace;
	font-size: 10pt;
}

h1, h2 {
	margin: 0;
	padding: 0 20px;
	background-color: #003359;
	color: white;
	font-family: Garamond, 'Adobe Garamond', 'Garamond Pro', Palatino, 'Times New Roman', serif;
	min-width: 600px;
	white-space: nowrap;
}

h1 {
	padding-top: 10px;
	font-size: 24pt;
}

h2 {
	padding-bottom: 10px;
	font-size: 12pt;
	text-transform: uppercase;
}

em  {
	font-style: normal;
	color: red;
	text-transform: uppercase;
	font-weight: bold;
}

code, .code {
	font-family: Inconsolata, Monaco, "Courier New", Courier, monospace;
}


#header, #footer {
	padding: 10px;
	margin: 10px;
	background: #eaedef;
	color: #003359;
	border-radius: 10px;
}

#footer {
	text-align: right;
	font-size: 8pt;
}

#header a, #footer a {
	color: #003359;
	text-decoration: none;
	border-bottom: dotted #003359 1px;
}

#content {
	margin: 40px;
}

#content h1, #content h2 {
	font-family: Helvetica, Arial, sa
	ns-serif;
	color: black;
	background-color: white;
	text-transform: none;
	white-space: normal;
	min-width: intrinsic;
}

.error {
	background-color: #ffd8d8;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid red;
}